/* section Carrinho*/
.car-icon {
  display: none; /* Oculto en pantallas grandes */
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
 
}

.carrinho {
  
    border: 1px solid #85243b;
    width: 30%;
    margin-top: 30px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 20px;
    transition: .3s;
  }
 

  .carrinho h3 {
    background-color: #85243b;
    color:#fff ;
    text-align: center;
    padding: 30px 0;
  
  }
  .carrinho .item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #af3a55;
    padding: 20px;
  }
  
  
  .carrinho .item img{
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-right: 80px;
   
  }
  
  .carrinho .item .title-item{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .carrinho .item .quantity-selector{
    display: inline-block;
    margin-right: 25px;
  }
  
  .carrinho .item .car-item-quantity{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
  }
  
  .carrinho .item .quantity-selector i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1.5px solid #85243b;
    cursor: pointer;
  }
  
  .carrinho .item .price-bttn{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
  
  }
  .carrinho .item .delete-bttn{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #85243b;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1.5px solid #85243b;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
  }
  .carrinho .item .delete-bttn i{
    pointer-events: none;
  }
  
  .total-car{
    background-color: #af3a55;
    padding: 20px;
  
  }
  
  .total-car .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }
  .total-car .bttn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #fff ;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
  }
  .total-car .bttn-pagar:hover{
    scale: 1.05;
  }

  /* Para pantallas de 1000px */

  @media (max-width: 1250px){
    .carrinho .item img{
      width: 20%;
      height: auto;
      border-radius: 10px;
      margin-right: 30px;
     
    }
    .carrinho .item .quantity-selector{
      display: inline-block;
      margin-right: 15px;
    }
    
    .carrinho .item .car-item-quantity{
      border: none;
      font-size: 15px;
      background: transparent;
      display: inline-block;
      width: 30px;
      padding: 5px;
      text-align: center;
    }
    
    .carrinho .item .quantity-selector i{
      font-size: 15px;
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      border-radius: 50%;
      border: 1.5px solid #85243b;
      cursor: pointer;
    }
    
    .carrinho .item .price-bttn{
      font-weight: bold;
      display: inline-block;
      font-size: 15px;
      margin-bottom: 5px;
    
    }
    .carrinho .item .delete-bttn{
      position: absolute;
      right: 15px;
      top: 15px;
      color: #85243b;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      border: 1.5px solid #85243b;
      cursor: pointer;
      display: block;
      background: transparent;
      z-index: 20;
    }
    .carrinho .item .delete-bttn i{
      pointer-events: none;
    }
    
  
  }
  /* Para pantallas móviles */
 
@media (max-width: 900px) {
  .carrinho {
    display: none; /* Oculto en pantallas pequeñas */
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    width: 80%;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 100;
    padding: 20px;
    /* Otros estilos de diseño */
  }

  .car-icon {
    display: block; /* Ícono visible solo en móviles */
    position: fixed;            /* Fijar el icono en la parte superior */
    top: 10px;                  /* Ajustar según necesites */
    right: 10px;                /* Ajustar según necesites */
    z-index: 1100;              /* Por encima del carrito para que sea clickeable */
    cursor: pointer;            /* Cambiar cursor al pasar sobre el icono */
  }

  .carrinho.show {
    display: block; /* Mostrar carrito cuando se active */
  }
  
}
